{% extends 'base.html' %}

{% block content %}

<h1 class="mt-5">{{contact.name}} {{contact.last_name}}</h1>
        <dl>
          <dt>ID</dt>
          <dd>{{contact.id}}</dd>

          <dt>Telefone</dt>
          <dd>{{contact.phone}}</dd>

          <dt>E-mail</dt>
          <dd>{{contact.email}}</dd>

          <dt>Data criação</dt>
          <dd>{{contact.creation_date|date:'d/m/Y H:i:s'}}</dd>

          <dt>Categoria</dt>
          <dd>{{contact.category}}</dd>

          <dt>Descrição</dt>
          <dd>
            {{contact.description}}
          </dd>
        </dl>

{% endblock content %}